@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Gantari:wght@500&family=Lato:ital,wght@0,400;1,300&family=Manrope:wght@500&family=Playfair+Display:wght@600&family=Questrial&family=Rubik+Vinyl&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #000003;
    color: #fff;    
    font-family: 'Questrial', sans-serif;    
}

.center{
    display: flex;      
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;    
    padding:5px;    
}
#title{
    font-family: 'Rubik Vinyl', cursive;
    font-size: 3rem;
    padding: 30px;
}
.container {
    width: 100%;
    max-width: 70%;        
    margin: 5% auto;       
}
.btn{
    width: 135px;    
    border: 1px solid silver;
    padding: 1px;  
    text-align: center;     
}
footer{
    width: 100vw;
    height: 80px;  
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.fa{
    color: #fff;   
    padding: 5px; 
}

.key{
    transition: all 0.07s;
}
.playing{
    transform: scale(1.1);    
}

.cymbals{
    width: 120px;
    height: 120px;
    transition: all 0.07s;
}
.tom{
    width: 100px;
    height: 100px;
} 
.kick{
    width: 150px;
    height: 150px;
}

.firstLayer, .secondLayer {
    max-width: 80%;    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;          
    align-items: baseline;  
}
#smallTom{
    position: relative;
    left:50px;
}
#mediumTom{
    position: relative;
    right:50px;
}
#snareDrum, #floorTom{
    position: relative;
    top:-15px;
    left:5px;
}
#crashCymbal{
    position: relative;
    left: 50px;    
}
#rideCymbal{
    position: relative;
    right: 50px;
}
#kickDrum{
    position: absolute;    
}  
.tool{
    width: 40%;
    text-align: center;
    position:relative;
    bottom: 50px;
}
.tool img{
    width:120px;
    height:120px;
}

@media only screen and (max-width: 320px) {        
    .center {        
        flex-wrap: wrap;    
        width: 95%;                
        font-size: 0.80rem;
        padding:5px 16px;                    
    }    
    #title{        
        font-size: 1.3rem;
        padding: 16px 0px;
    }
    
    .container {
        width: 100%;
        max-width: 95%;
        margin-left:5px;
        margin-top: 30px;
    }
    .cymbals{
        width: 80px;
        height: 80px;
        transition: all 0.07s;
    }
    .tom{
        width: 70px;
        height: 70px;
    } 
    .kick{
        width: 125px;
        height: 125px;
    }
    .firstLayer, .secondLayer {
        max-width: 100%;                
    }
    #smallTom{        
        left:8%;
    }
    #mediumTom{        
        left: 5%;        
    }
    #kickDrum{        
        top: 48%;
        left: 100px;        
    }   
    #snareDrum{        
        top: -33%;
        left:-15%;
    }
    #floorTom{        
        left:15%;
    }
    #crashCymbal{        
        left: 12%;    
    }
    #rideCymbal{        
        left: -4%;
    }
    #crashRideCymbal{        
        top: -6%;
        left: 7%;
    }
    .tool{
        width: 50%;                              
        left: 25%;
        margin-top: 4%;        
    }
    .tool img{
        width: 90px;
        height: 90px;     
    }
  }

  @media only screen and (min-width: 321px) and (max-width: 462px) {
    .center {        
        flex-wrap: wrap;    
        width: 95%;                
        font-size: 0.85rem;
        padding:5px 16px;                    
    }    
    #title{        
        font-size: 1.8rem;
        padding: 16px 0px;
    }
    
    .container {
        width: 95%;
        max-width: 92%;
        margin-left:5px;
        margin-top: 60px;
    }
    .cymbals{
        width: 130%;
        height: auto;
        transition: all 0.07s;
    }
    .tom{
        width: 85%;
        height: auto;
    } 
    .kick{        
        width: 48%;
        height: auto;
    }
    .firstLayer, .secondLayer {
        max-width: 100%;                
        align-items: center;
    }
    #smallTom{        
        left:45%;
    }
    #mediumTom{        
        right:25px;
    }
    #kickDrum{               
        top: 38%;
        left: 32%;                
    }
    #snareDrum, #floorTom{        
        top: -32%;
    }
    #snareDrum{
        left: 20%;
    }
    #floorTom{
        left: 12%;
    }
    #crashCymbal{        
        left: 22%;            
    }
    #rideCymbal{        
        right: 45%;
    }
    #crashRideCymbal{        
        right: 15%;
    }
    .tool{        
        width: 50%;                              
        left: 25%; 
        margin-top: -2%;       
        
    }
    .tool img{
        width: 45%;
        height: auto;     
    }
  }

  @media only screen and (min-width: 463px) and (max-width: 799px) {
    .center {        
        flex-wrap: wrap;    
        width: 95%;                
        font-size: 0.85rem;
        padding:5px 16px;                    
    }    
    #title{        
        font-size: 1.8rem;
        padding: 16px 0px;
    }
    
    .container {
        width: 95%;
        max-width: 92%;
        margin-left:5px;
        margin-top: 60px;
    }
    .cymbals{
        width: 130%;
        height: auto;
        transition: all 0.07s;
    }
    .tom{
        width: 85%;
        height: auto;
    } 
    .kick{        
        width: 48%;
        height: auto;
    }
    .firstLayer, .secondLayer {
        max-width: 100%;                
        align-items: center;
    }
    #smallTom{        
        left:45%;
    }
    #mediumTom{        
        right:25px;
    }
    #kickDrum{               
        top: 30%;
        left: 32%;                
    }
    #snareDrum, #floorTom{        
        top: -32%;
    }
    #snareDrum{
        left: 20%;
    }
    #floorTom{
        left: 12%;
    }
    #crashCymbal{        
        left: 22%;            
    }
    #rideCymbal{        
        right: 45%;
    }
    #crashRideCymbal{        
        right: 15%;
    }
    .tool{        
        width: 50%;                              
        left: 25%; 
        margin-top: -2%;       
        
    }
    .tool img{
        width: 45%;
        height: auto;     
    }
  }
 
  @media only screen and (min-width: 800px) and (max-width: 899px) {
    .center {        
        flex-wrap: wrap;    
        width: 95%;                
        font-size: 0.85rem;
        padding:5px 16px;                    
    }    
    #title{        
        font-size: 1.8rem;
        padding: 16px 0px;
    }
    
    .container {
        width: 99%;
        max-width: 92%;
        margin: 0 auto;
        margin-top: 60px;        
    }
    .cymbals{
        width: 90%;
        height: auto;
        transition: all 0.07s;
    }
    .tom{
        width: 65%;
        height: auto;
    } 
    .kick{        
        width: 36%;
        height: auto;
    }
    .firstLayer, .secondLayer {
        max-width: 100%;                
        align-items: center;
    }
    #crashCymbal{        
        left: 78%;            
    }
    #smallTom{        
        left:65%;
    }
    #mediumTom{        
        right:40%;
    }
    #rideCymbal{        
        right: 83%;
    }

    #kickDrum{               
        top: 31%;
        left: 38%;        
    }
     
    #hiHat{        
        left: 48%;            
    }    
    #snareDrum, #floorTom{        
        top: -32%;
    }
    #snareDrum{
        left: 40%;
    }
    #floorTom{
        left: -14%;
    }    
    #crashRideCymbal{        
        right: 50%;
    }
    .tool{        
        width: 50%;                              
        left: 23%; 
        margin-top: -2%;       
        
    }
    .tool img{
        width: 30%;
        height: auto;     
    }
  }

  @media only screen and (min-width: 900px) and (max-width: 999px) {
    .center {        
        flex-wrap: wrap;    
        width: 95%;                
        font-size: 0.85rem;
        padding:5px 16px;            
        border: 1px solid pink;
    }    
    #title{        
        font-size: 1.8rem;
        padding: 16px 0px;
    }
    .container {
        width: 99%;
        max-width: 92%;
        margin: 0 auto;
        margin-top: 60px;        
    }
    .cymbals{
        width: 90%;
        height: auto;
        transition: all 0.07s;
    }
    .tom{
        width: 65%;
        height: auto;
    } 
    .kick{        
        width: 36%;
        height: auto;
    }
    .firstLayer, .secondLayer {
        max-width: 100%;                
        align-items: center;
    }
    #crashCymbal{        
        left: 72%;            
    }
    #smallTom{        
        left:60%;
    }
    #mediumTom{        
        right:45%;
    }
    #rideCymbal{        
        right: 88%;
    }

    #kickDrum{               
        top: 31%;
        left: 38%;        
    }
     
    #hiHat{        
        left: 43%;            
    }    
    #snareDrum, #floorTom{        
        top: -32%;
    }
    #snareDrum{
        left: 40%;
    }
    #floorTom{
        left: -14%;
    }    
    #crashRideCymbal{        
        right: 50%;
    }
    .tool{        
        width: 50%;                              
        left: 21%; 
        margin-top: -5%;       
        
    }
    .tool img{
        width: 25%;
        height: auto;     
    }
  }

  @media only screen and (min-width: 1000px) and (max-width: 1140px) {
    .container {
        width: 100%;        
        max-width: 70%;        
        padding-left: 70px;
    }
    .cymbals{
        min-width: 128%;
        height: auto;
        transition: all 0.07s;
    }
    .tom{
        min-width: 90%;
        height: auto;
    } 
    .kick{
        min-width: 137%;
        height: auto;
    }
    .firstLayer, .secondLayer {
        max-width: 85%;                
    }
    #smallTom{        
        left:40%;
    }
    #mediumTom{        
        right:20%;
    }
    #kickDrum{        
        top: 38%;
        left: 39%;        
    }
    #snareDrum, #floorTom{        
        top:-40%;        
    }
    #snareDrum{
        left: 15%;
    }
    #floorTom{
        left: 15%;
    }
    #hiHat{        
        left: 5%;    
    }
    #crashCymbal{        
        left: 16%;    
    }
    #rideCymbal{        
        right: 40%;
    }
    #crashRideCymbal{        
        right: 5%;
    }
    .tool{        
        width: 50%;                              
        left: 17%;
        margin-top: -1%;        
        
    }
    .tool img{
        width: 27%;
        height: auto;     
    }
  }

  @media only screen and (min-width: 1141px) and (max-width: 1250px) {    
    .btn span{
        display: block;    
    }
    .container {          
        padding-left: 70px;    
    }
    .cymbals{
        min-width: 128%;
        height: auto;
        transition: all 0.07s;
    }
    .tom{
        min-width: 90%;
        height: auto;
    } 
    .kick{
        min-width: 150%;
        height: auto;
    }
    .firstLayer, .secondLayer {
        max-width: 85%;                
    }
    #smallTom{        
        left:40%;
    }
    #mediumTom{        
        right:20%;
    }
    #kickDrum{        
        top: 38%;
        left: 39%;        
    }
    #snareDrum, #floorTom{        
        top:-40%;        
    }
    #snareDrum{
        left: 15%;
    }
    #floorTom{
        left: 15%;
    }
    #hiHat{        
        left: 5%;    
    }
    #crashCymbal{        
        left: 16%;    
    }
    #rideCymbal{        
        right: 40%;
    }
    #crashRideCymbal{        
        right: 5%;
    }
    .tool{        
        width: 50%;                              
        left: 17%;
        margin-top: -3%;        
        
    }
    .tool img{
        width: 27%;
        height: auto;     
    }
  }

  @media only screen and (min-width: 1251px) {      
    .btn span{
        display: block;    
    }      
    .container {        
        padding-left: 80px;           
    }
    .cymbals{
        min-width: 128%;
        height: auto;
        transition: all 0.07s;
    }
    .tom{
        min-width: 90%;
        height: auto;
    } 
    .kick{
        min-width: 150%;
        height: auto;
    }
    .firstLayer, .secondLayer {
        max-width: 85%;                
    }
    #smallTom{        
        left:40%;
    }
    #mediumTom{        
        right:20%;
    }
    #kickDrum{        
        top: 39%;
        left: 40%;        
    }
    #snareDrum, #floorTom{        
        top:-40%;        
    }
    #snareDrum{
        left: 15%;
    }
    #floorTom{
        left: 15%;
    }
    #hiHat{        
        left: 5%;    
    }
    #crashCymbal{        
        left: 16%;    
    }
    #rideCymbal{        
        right: 40%;
    }
    #crashRideCymbal{        
        right: 5%;
    }
    .tool{        
        width: 50%;                              
        left: 18%;
        margin-top: -8%;       
        
    }
    .tool img{
        width: 27%;
        height: auto;     
    }
  }
