*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000003;
    color: #fff;
}

.key{
    transition: all 0.07s;
}

.cymbals{
    width: 120px;
    height: 120px;
}
.tom{
    width: 100px;
    height: 100px;
}

.firstLayer, .secondLayer {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;          
    align-items: baseline;  
}
#smallTom{
    position: relative;
    left:50px;
}
#mediumTom{
    position: relative;
    right:50px;
}
#kickDrum{
    position: absolute;
    top: 60%;
    left: 200px;
    z-index: -1;
}
#snareDrum, #floorTom{
    position: relative;
    top:-15px;
    left:5px;
}
#crashCymbal{
    position: relative;
    left: 50px;    
}
#rideCymbal{
    position: relative;
    right: 50px;
}